*{
  font-size: 32px;
}


.colorSilver{
  background-color: #686164;
}

.colorWhiteSilver{
  background-color: #ccc7c9;
}
.container{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;

}
.cell{
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}
