.colorBlack{
  background-color: black;
}

.colorGrey{
  background-color: #FCFFC7;
}

.container{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;

}
.cell{
  min-width: 50px;
  min-height: 50px;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}
